@using VisualizacionLoteria.Pages.Util;
@if(HaSimulado)
{
    @*Settear velocidad de simulación*@
    <MudCard Style="width: 100%;">
        <MudExpansionPanels DisableBorders="true" Elevation="0" MultiExpansion="true">
            <MudExpansionPanel @bind-IsExpanded="TablaBalanceAbierta" HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText>Balance</MudText>
                        <MudIcon Icon="@(TablaBalanceAbierta ? Icons.Material.Filled.Close : Icons.Material.Filled.Add)" class="ml-auto"></MudIcon>                        
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudCardContent>
                        <MudSimpleTable Style="overflow-x: auto;">
                            <tbody>
                                <tr>
                                    <td>Precio por fracción</td>
                                    <td>₡@String.Format("{0:N0}", PrecioPorFraccion)</td>
                                </tr>

                                <tr>
                                    <td>Fracciones jugadas</td>
                                    <td>@FraccionesJugadas</td>
                                </tr>
                                <tr>
                                    <td>Dinero gastado</td>
                                    <td>₡@String.Format("{0:N0}", DineroGastado)</td>
                                </tr>
                                <tr>
                                    <td>Dinero ganado</td>
                                    <td>₡@String.Format("{0:N0}", DineroGanado)</td>
                                </tr>
                                <tr>
                                    <td>Balance total</td>
                                    <td>₡@String.Format("{0:N0}", BalanceTotal)</td>
                                </tr>
                            </tbody>
                        </MudSimpleTable>
                    </MudCardContent>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel @bind-IsExpanded="TablaTiempoAbierta" HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText>Tiempo transcurrido</MudText>
                        <MudIcon Icon="@(TablaTiempoAbierta ? Icons.Material.Filled.Close : Icons.Material.Filled.Add)" class="ml-auto"></MudIcon>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudCardContent>
                        <MudSimpleTable Style="overflow-x: auto;">
                            <tbody>
                                <tr>
                                    <td>Días</td>
                                    <td>@(LoteriasJugadas * 7)</td>
                                </tr>
                                <tr>
                                    <td>Semanas</td>
                                    <td>@LoteriasJugadas</td>
                                </tr>
                                <tr>
                                    <td>Años</td>
                                    <td>@(LoteriasJugadas / 52)</td>
                                </tr>
                                <tr>
                                    <td>Décadas</td>
                                    <td>@(LoteriasJugadas / 520)</td>
                                </tr>
                                <tr>
                                    <td>Siglos</td>
                                    <td>@(LoteriasJugadas / 5200)</td>
                                </tr>
                            </tbody>
                        </MudSimpleTable>
                    </MudCardContent>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel @bind-IsExpanded="TablaPremiosAbierta" HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText>Premios ganados</MudText>
                        <MudIcon Icon="@(TablaPremiosAbierta ? Icons.Material.Filled.Close : Icons.Material.Filled.Add)" class="ml-auto"></MudIcon>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudCardContent>
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th>Premio</th>
                                    <th>Premio por fracción</th>
                                    <th>Veces ganado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var kvp in PremiosLoteria.InformacionPremios)
                                {
                                    <tr>
                                        <td>@PremiosLoteria.TipoPremioAString(kvp.Key)</td>
                                        <td>@PremiosLoteria.PremioAString(kvp.Value.premio)</td>
                                        <td>@PremiosGanados[kvp.Key]</td>
                                    </tr>
                                }
                            </tbody>                            
                        </MudSimpleTable>
                    </MudCardContent>
                </ChildContent>                
            </MudExpansionPanel>
        </MudExpansionPanels>                        
    </MudCard>
}