@inject ISnackbar Snackbar

<MudGrid Justify="Justify.Center" Class="mt-5">
    @*Botón para inciar simulación*@
    <MudItem xs="12" md="8">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" md="10">
                    <MudGrid Justify="Justify.Center">
                        @if (@SimulacionEnProgreso)
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="() => DetenerSimulacion()">Detener</MudButton>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Info" @onclick="() => IniciarSimulacion()" Disabled="@DeshabilitarBotonDeInicio">Simular</MudButton>
                        }
                    </MudGrid>
            </MudItem>
        </MudGrid>
    </MudItem>

    @if(HaSimulado)
    {
        @*Settear velocidad de simulación*@
        <MudItem xs="12" md="8">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12" md="10">
                    <MudCard Style="width: 100%">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">Estadísticas</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudSimpleTable Style="overflow-x: auto;">
                                <thead>
                                    <tr>
                                        <th>Estadística</th>
                                        <th>Número</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Precio por fracción</td>
                                        <td>₡@PrecioPorFraccion</td>
                                    </tr>
                                    <tr>
                                        <td>Fracciones jugadas</td>
                                        <td>@FraccionesJugadas</td>
                                    </tr>
                                    <tr>
                                        <td>Loterías jugadas</td>
                                        <td>@LoteriasJugadas</td>
                                    </tr>
                                    <tr>
                                        <td>Dinero gastado</td>
                                        <td>₡@DineroGastado</td>
                                    </tr>
                                    <tr>
                                        <td>Dinero ganado</td>
                                        <td>₡@DineroGanado</td>
                                    </tr>
                                    <tr>
                                        <td>Balance total</td>
                                        <td>₡@BalanceTotal</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudCardContent>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">Velocidad</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardActions>
                            <MudButtonGroup Color="Color.Primary" Variant="Variant.Text">
                                <MudButton @onclick="() => SetearVelocidad(VelocidadDeSimulacion.Lenta)" Disabled="DeshabilitarBoton(VelocidadDeSimulacion.Lenta)">Lenta</MudButton>
                                <MudButton @onclick="() => SetearVelocidad(VelocidadDeSimulacion.Media)" Disabled="DeshabilitarBoton(VelocidadDeSimulacion.Media)">Media</MudButton>
                                <MudButton @onclick="() => SetearVelocidad(VelocidadDeSimulacion.Rapida)" Disabled="DeshabilitarBoton(VelocidadDeSimulacion.Rapida)">Rápida</MudButton>
                            </MudButtonGroup>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudItem>
        
        <MudItem xs="12" md="10">
            
            @foreach(var numero in NumerosJugadosParam)
            {
                <p role="status">Numero: @numero.NumeroMayor Fracciones: @numero.NumeroDeFracciones </p>
            }
        </MudItem>
    }
</MudGrid>